<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/style2.css')}}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/fontawesome.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/templatemo-edu-meeting.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/owl.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/lightbox.css')}}">

      <title>SelfShield.com/login</title>

   </head>
<body>

<section class = 'signup'>
    <div class="container">
      <div style="text-align:center"><i class="fa fa-user" style="font-size:48px;color:green"></i><h4>Login Here</h4></div>
      <br>
        {% if errors %}
    <div class="alert alert-danger" >
        {% for error in errors %}
            <p><i class="fa fa-warning" style="font-size:24px;color:red"></i>  {{ error }}</p>
        {% endfor %}
    </div>
         {% endif %}

    <!-- --------------------- -->

        {% if info %}
    <div class="alert alert-success"  >
        {% for data in info %}
            <p><i class="fa fa-check" style="font-size:24px;color:green"></i>  {{ data }}</p>
        {% endfor %}
    </div>
         {% endif %}

      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <div class="col-lg-12">

              <div class="container">
                  <div class="title">User Login</div>
                  <div class="content">
                   <form action="{{ url_for('login') }}" method="post">
                  <div class="user-details">

                    <div class="input-box">
                      <span class="details">Email</span>
                      <input type="email" placeholder="Enter your email" name="email" required>
                    </div>

                    <div class="input-box">
                      <span class="details">Password</span>
                      <input type="password" placeholder="Enter your password" name="password" required>
                    </div>

                  </div>

                  <div class="button">
                    <input type="submit" value="Login">
                  </div>
                  <div >
                    Not registered!<a href="register"> Sign up</a> here
                  </div>
                </form>
                  </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-6">
                      <div class="container">
              <div class="title">Vehicle Partner Login</div>
              <div class="content">
                <form action="{{ url_for('v_login')}}" method="post">
                  <div class="user-details">

                    <div class="input-box">
                      <span class="details">Email</span>
                      <input type="email" placeholder="Enter your email" name="email" required>
                    </div>

                    <div class="input-box">
                      <span class="details">Password</span>
                      <input type="password" placeholder="Enter your password" name="password" required>
                    </div>

                  </div>

                  <div class="button-v">
                    <input type="submit" value="Login">
                  </div>
                  <div >
                    Not registered!<a href="register"> Sign up</a> here
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    <br>
       <div class="main-button-red">
                    <div style="text-align:center" ><a href="/">Go to Home Page</a></div>
                  </div>
    </div>


</section>












</body>
</html>
