<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles/style2.css')}}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/fontawesome.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/templatemo-edu-meeting.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/owl.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'assets/css/lightbox.css')}}">

      <title>SelfShield.com/Register</title>
   </head>
<body>

<section class = 'signup'>
    <div class="container">
<br> <br><br>
      <div style="text-align:center"><i class="fa fa-user-plus" style="font-size:48px;color:blue"></i><h4>Register Here</h4></div>
      <br>
      <div class="row">

        <div class="col-lg-6 ">
          <div class="row">
            <div class="col-lg-12">

              <div class="container">
                  <div class="title">Register as User</div>
                  <div class="content">
                    <form action="#">
                      <div class="user-details">
                        <div class="input-box">
                          <span class="details">Full Name</span>
                          <input type="text" placeholder="Enter your name" required>
                        </div>

                        <div class="input-box">
                          <span class="details">Email</span>
                          <input type="email" placeholder="Enter your email" required>
                        </div>
                           <div class="input-box">
                          <span class="details">Phone Number</span>
                          <input type="tel" placeholder="Enter your number" required>
                           </div>

                        <div class="input-box">
                          <span class="details">Password</span>
                          <input type="password" placeholder="Enter your password" required>
                        </div>
                        <div class="input-box">
                          <span class="details">Confirm Password</span>
                          <input type="password" placeholder="Confirm your password" required>
                        </div>
                      </div>


                        <div class="input-box">
                          <span class="details">Upload Your Photo</span>

                          <input type="file" id="img" name="u-img" accept="image/*" required>

                        </div>




                      <div class="button">
                        <input type="submit" value="Register">
                      </div>
                      <div >
                        Already a member!<a href="login"> Login </a>
                      </div>
                    </form>
                  </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-6">
                      <div class="container">
              <div class="title">Register as Vehicle Partner</div>
              <div class="content">
                <form action="#">
                  <div class="user-details">
                    <div class="input-box">
                      <span class="details">Full Name</span>
                      <input type="text" placeholder="Enter your name" required>
                    </div>

                    <div class="input-box">
                      <span class="details">Email</span>
                      <input type="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                      <span class="details">Phone Number</span>
                      <input type="tel" placeholder="Enter your number" required>
                    </div>
                    <div class="input-box">
                      <span class="details">Password</span>
                      <input type="password" placeholder="Enter your password" required>
                    </div>
                    <div class="input-box">
                      <span class="details">Confirm Password</span>
                      <input type="password" placeholder="Confirm your password" required>
                    </div>
                  </div>

                  <div class="input-box">
                          <span class="details">Upload Your Photo</span>

                          <input type="file" id="v-img" name="u-img" accept="image/*" required>

                  </div>

                  <div class="button-v">
                    <input type="submit" value="Register">
                  </div>
                  <div >
                    Already a member!<a href="login"> Login </a>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    <br>
       <div class="main-button-red">
                    <div style="text-align:center" ><a href="/">Go to Home Page</a></div>
                  </div>
    </div>


</section>












</body>
</html>
